<BsNavbar
        @type="dark"
        @backgroundColor="dark"
        @collapsed={{true}}
        @onCollapse={{fn (mut this.sidebarCollapsed) true}}
        @onExpand={{fn (mut this.sidebarCollapsed) false}} as |navbar|>
  <div class="navbar-header">
    {{navbar.toggle}}
    <LinkTo @route="index" class="navbar-brand">Star Wars Top Trumps</LinkTo>
  </div>
  <navbar.content>
    <navbar.nav as |nav|>
      <nav.item>
        <nav.link-to @route="starships">Starships</nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="people">People</nav.link-to>
      </nav.item>
    </navbar.nav>
  </navbar.content>
</BsNavbar>

<div class="content my-0 mx-auto p-4">
  {{outlet}}
</div>
